@font-face {
    font-family: 'Ephesis';
    src:
        url('fonts/Ephesis-Regular.woff2') format('woff2'),
        url('fonts/Ephesis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

.heading {
    display: inline-block;
    margin: 0;
    padding: 30px;
    font-size: 3rem;
    color: #333;
    outline: 5px dotted #ee5c87;
    font-family: "Ephesis";
    letter-spacing: 10px;
}